section {
  max-width: 50%;
  margin: 0 auto;
}

div {
  margin-bottom: 1%;
}

input {
  width: 100%;
}

label,
input {
  display: block;
}

:host ::ng-deep .p-inputtext {
  width: 100%;
}

:host ::ng-deep .p-inputmask {
  width: 100%;
}

:host ::ng-deep .p-calendar {
  width: 100%;
}

:host ::ng-deep .width-100 {
  width: 100%;
}

.error-input {
  color: red;
}
